body {
    background-color: rgb(100, 100, 100);
}
button {
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    border-style: outset;
    border-radius: 20%;
    border-width: 5px;
    border-color: rgb(206, 206, 206);
    font-size: 40px;
}
#siteIcon {
    position: relative;
    width: 50px;
}
#calc {
    border: 5px rgb(255, 255, 255);
    border-bottom: 30px;
    border-bottom-color: rgb(255, 255, 255);
    border-style: outset;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(82, 82, 82);
    display: block;
    position: relative;
    text-align: center;
    max-width: 420px;
    min-width: 420px;
    min-height: 585px;
    max-height: 585px;
    margin: auto;
}
::placeholder {
    color: black;
}
#display {
    text-wrap: nowrap;
    bottom: 10px;
    min-width: 340px;
    resize: none;
    min-height: 105px;
    font-size: 30px;
    text-align: right;
    border: 3px inset rgb(124, 124, 124);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
#answerDisplay {
    position: relative;
    text-wrap: nowrap;
    min-width: 340px;
    resize: none;
    min-height: 40px;
    max-height: 40px;
    font-size: 30px;
    text-align: right;
    border: 3px inset rgb(124, 124, 124);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 4px;
}
#footnote {
    position: relative;
    color: rgb(214, 214, 214);
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: larger;
}
a {
    color: rgb(142, 241, 241);
}
#displayAndSideButtons {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
#backspace {
    position: relative;
    bottom: 39px;
    left: 4px;
    width: 60px;
    height: 40px;
    font-size: 20px;
}
li {
    position: relative;
    top: 20px;
    margin-bottom: 2px;
    list-style-type: none;
    width: min-content;
    height: min-content;
}
#listedHistory {
    font-size: 20px;
    height:min-content;
    width: min-content;
    border: 1px solid rgb(255, 255, 255);
}
#showHistory {
    display: block;
    position: relative;
    width: 60px;
    height: 40px;
    top: 30px;
    left: 4px;
    font-size: 21px;
}
#numPad {
    position: relative;
    left: 27px;
}
#numPadColumn, #numPadRow {
    padding-right: 5px;
    padding-bottom: 2px;
}
#clearHistory {
    position: absolute;
    right: 10px;
    width: 83px;
    height: 33px;
    font-size: 20px;
}
#histTitle {
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
    width: fit-content;
    text-decoration: underline;
}
#histContainer {
    border-radius: 2%;
    padding: 10px;
    background-color: rgb(89, 95, 92);
    display: none;
    position: relative;
    left: 25px;
    width: 330px;
    height: 400px;
    font-size: larger;
    background-color: rgb(211, 211, 211);
}
#listContainer {
    position: absolute;
    left: 0px;
    width: 340px;
    height: 356px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(194, 194, 194);
    border-radius: 1%;
    padding: 5px;
}
textarea:focus {
    outline: none;
}
